#carousel {
	margin: 0 auto;
	height: 300px;
	width: 400px;
	border: 5px solid #ccc;
	overflow: hidden;
}

ul {
	list-style-type: none;
	padding: 0;
	width: 2000px;
	margin-top: 0;
}

li {
	height: 300px;
	width: 400px;
	float: left;
	display: inline;
	object-fit: contain;

}